
.counter{
    background-image: url("https://images.pexels.com/photos/1322444/pexels-photo-1322444.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    /* background-color: rgba(224, 211, 197, 0.568); */
    text-align: center;
    border-radius: 7px;
    margin:auto;
    color: #255316e7;
    font-size: 40px;
    width: 500px;
  
    box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
  -webkit-box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
  -moz-box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
  }
  .count-{
    color: #255316e7;
  
  } 
  .counter-ptn{
    font-size: 40px;
  
  }

  
  @media only screen and (max-width: 900px) {
    .counter {
        grid-template-columns: 1fr ;
        background-color: #c5500c;
    }
  }