
.DuaaRasol{
    width: 1150px;
    margin-top: 500px;
    margin: auto;
    font-size:x-large;
    text-align: center;
  
    box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
    -webkit-box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
    -moz-box-shadow: -2px 21px 33px 13px rgba(119,120,70,0.67);
  }

  @media only screen and (max-width: 900px) {
    .DuaaRasol {
      width: auto;
      margin: 15px;
    }
  }