
.name-css{
    border-radius: 10px;
    background-color: rgba(243, 229, 34, 0.541);
    font-size:xx-large;
    text-align: center;
    width: 700px;
  
    margin: 17%;
    margin-left: 50%;
    /* padding: 50px 30px 50px 65px; */
  
    /* margin-top: 50% 50% 50% 50% ; */
  
  }

  @media only screen and (max-width: 900px) {
    .name-css {
        grid-template-columns: 1fr ;
        background-color: #c5500c;
    }
  }