  
.signup{
    width: 550px;
    height: 400px;
    margin: 20px;
    background-image: url("https://images.pexels.com/photos/1322444/pexels-photo-1322444.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   
    margin: auto;
    border-radius: 20px;
    background-size: cover;
  }
  .ptn-inpt{
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
    padding: 13px;
    /* text-decoration-color:#c09393 ; */
  }
  .dd{
    margin: 30px;
    padding: 50px 30px 50px 75px;
  }

  @media only screen and (max-width: 900px) {
    .signup {
        grid-template-columns: 1fr ;
        background-color: #c5500c;
    }
  }
  